// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Freescale Layerscape-1046A family SoC.
 *
 * Copyright 2019-2022 NXP
 *
 * Parth Girishkumar Bera <parthgirishkumar.bera@nxp.com>
 */

/dts-v1/;

#include "fsl-ls1046a.dtsi"

/ {
	model = "LA1246 RDB  Board";
	compatible = "fsl,ls1046a-rdb", "fsl,ls1046a";

	aliases {
		serial0 = &duart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&duart0 {
	status = "okay";
};

&esdhc {
	mmc-hs200-1_8v;
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
};

&i2c0 {

	status = "okay";
	
	temperature-sensor@4c {
		compatible = "nxp,sa56004";
		reg = <0x4c>;
	};

	rtc@51 {
		compatible = "nxp,pcf2129";
		reg = <0x51>;
	};
	
	lp5562@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		clock-mode = /bits/8 <2>;
	
		chan0 {
			chan-name = "R";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
		};
	
		chan1 {
			chan-name = "G";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
		};
	
		chan2 {
			chan-name = "B";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
		};
	};
};


&ifc {
	#address-cells = <2>;
	#size-cells = <1>;
	/* NAND Flashe */
	ranges = <0x0 0x0 0x0 0x7e800000 0x00010000
		  0x2 0x0 0x0 0x7fb00000 0x00000100>;
	status = "disabled";

	nand@0,0 {
		compatible = "fsl,ifc-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0 0x0 0x10000>;
	};

};

&qspi {
	num-cs = <1>;
	bus-num = <0>;
	status = "okay";
	fsl,qspi-has-second-chip;

	qflash0: mt25qu512a@0 {
		compatible = "mt25qu,m25p80";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
	};
};

#include "fsl-ls1046-post.dtsi"

&fman0 {
	ethernet@f0000 {
		phy-handle = <&aqr113c_phy>;
		phy-connection-type = "xgmii";
	};

	mdio@fd000 {
		aqr113c_phy: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c45";
/*			interrupts = <0 133 4>;
*/			reg = <0x0>;
		};
	};
};
