// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Freescale Layerscape LS1046A DB Board.
 *
 * Copyright 2020 NXP
 *
 */

/dts-v1/;

#include "fsl-ls1046a.dtsi"

/ {
	model = "LS1046A DB Board";
	compatible = "fsl,ls1046a-db", "fsl,ls1046a";

	aliases {
		serial0 = &duart0;
		serial1 = &duart1;
		serial2 = &duart2;
		serial3 = &duart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sb_3v3: regulator-sb3v3 {
		compatible = "regulator-fixed";
		regulator-name = "LT8609SEV-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&duart2 {
	status = "okay";
};

&duart3 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	power-monitor@40 {
		compatible = "ti,ina220";
		reg = <0x40>;
		shunt-resistor = <1000>;
	};

	temperature-sensor@4c {
		compatible = "nxp,sa56004";
		reg = <0x4c>;
		vcc-supply = <&sb_3v3>;
	};

	rtc@51 {
		compatible = "nxp,pcf2129";
		reg = <0x51>;
	};

	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
	};

	eeprom@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
	};
};

&qspi {
	status = "okay";

	mt25qu512a0: flash@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
	};

	mt25qu512a1: flash@1 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		reg = <1>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
	};
};

#include "fsl-ls1046-post.dtsi"

&fman0 {

	ethernet@f2000 {
		phy-handle = <&aqr113c_phy1>;
		phy-connection-type = "xfi";
	};

	mdio@fd000 {
		aqr113c_phy1: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c45";
			reg = <0x0>;
		};
	};
};
