// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 NXP
 */

#include "imx8mp-evk-dsa.dts"

&netcdsa_port3 {
	label = "swp3";
	/delete-property/ ethernet;
};

&netcdsa_port4 {
	label = "cpu";
	ethernet = <&eqos>;
	status = "okay";
};
