// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2024 NXP
 */

#include "imx8mp-rfnm.dts"

&ethphy0 {
	/delete-property/ reset-gpios;
	/delete-property/ reset-assert-us;
	/delete-property/ reset-deassert-us;
};


&eqos {
	compatible = "fsl,imx-enet-qos", "snps,dwmac-5.10a";
};
