// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

#include "imx93-11x11-frdm.dts"

&lpspi3 {
	status = "disabled";
};

&tpm3 {
	status = "disabled";
};

&tpm4 {
	status = "disabled";
};


&lpi2c5 {
#address-cells = <1>;
#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-1 = <&pinctrl_lpi2c5>;
	status = "okay";

	mctp-controller;
	mctp@20 {
                compatible = "mctp-i2c-controller";
                reg = <(0x20 | I2C_OWN_SLAVE_ADDRESS)>;
        };

	sensor@48 {
		compatible = "nxp,pct2075";
		reg = <0x48>;
	};
};



&lpi2c4 {
#address-cells = <1>;
#size-cells = <0>;
        clock-frequency = <400000>;
        pinctrl-names = "default", "sleep";
        pinctrl-0 = <&pinctrl_lpi2c4>;
        pinctrl-1 = <&pinctrl_lpi2c4>;
        status = "okay";

	mctp-controller;
	mctp@10 {
                compatible = "mctp-i2c-controller";
                reg = <(0x10 | I2C_OWN_SLAVE_ADDRESS)>;
        };
};

&lpuart7 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	status = "okay";
};

&lpuart8 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart8>;
	status = "okay";
};

&iomuxc {

pinctrl_lpi2c5: lpi2c5grp {
			fsl,pins = <
				MX93_PAD_GPIO_IO00__LPI2C5_SDA			0x40000b9e
				MX93_PAD_GPIO_IO01__LPI2C5_SCL			0x40000b9e
				>;
		};

pinctrl_uart7: uart7grp {
		       fsl,pins = <
			       MX93_PAD_GPIO_IO08__LPUART7_TX			0x31e
			       MX93_PAD_GPIO_IO09__LPUART7_RX			0x31e
			       >;
	       };

pinctrl_uart8: uart8grp {
		       fsl,pins = <
			       MX93_PAD_GPIO_IO12__LPUART8_TX			0x31e
			       MX93_PAD_GPIO_IO13__LPUART8_RX			0x31e
			       >;
	       };

pinctrl_lpi2c4: lpi2c4grp {
                fsl,pins = <
                        MX93_PAD_GPIO_IO03__LPI2C4_SCL          0x40000b9e
                        MX93_PAD_GPIO_IO02__LPI2C4_SDA          0x40000b9e
                >;
        };
};
