# general options
CONFIG_LOCALVERSION_AUTO=y
CONFIG_SLAB=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODVERSIONS=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=262144
CONFIG_PRINTK_TIME=y
# dpaa2
CONFIG_STAGING=y
CONFIG_FSL_MC_BUS=y
# clock driver
CONFIG_CLK_QORIQ=y
# virtualization
CONFIG_VHOST_NET=y
CONFIG_KVM_ARM_MAX_VCPUS=8
# pci
CONFIG_PCI_HOST_GENERIC=y
# usb
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_DWC3=y
CONFIG_DMADEVICES=y
# ahci/sata
CONFIG_AHCI_QORIQ=y
# esdhc
CONFIG_MMC_SDHCI_OF_ESDHC=y
# I2C
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_PCA954x=y
CONFIG_I2C_IMX=y
CONFIG_HWMON=y
CONFIG_SENSORS_LM90=y
CONFIG_SENSORS_INA2XX=y
CONFIG_RTC_DRV_DS3232=y
#ifc
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_FTL=y
CONFIG_MTD=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_CFI=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MTD_CFI_STAA=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_NAND=y
CONFIG_MTD_NAND_FSL_IFC=y
#spi
CONFIG_SPI_FSL_DSPI=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_MTD_DATAFLASH=y
CONFIG_MTD_M25P80=y
CONFIG_MTD_SST25L=y
